{% load static %}
<!DOCTYPE html>
<html>
<header>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_css.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>{% block title %}CSIRT{% endblock %}</title>
</header>

<body>
 <div class="Top_Nav">
        <button class="Top_Nav_Button" onclick="location.href='{% url 'index' %}'">Home</button>
    
</div>
{% block content %}{% endblock %}
</body>
</html>