{% extends "base.html" %}

{% block title %}Domains{% endblock %}

{% block content %}

<div class="CVE_Table_Header">
    <h1>Domener</h1>
    <p>Her ligger oversikten over alle domener.</p>
</div>

<!-- New row of buttons above the table -->

<div class="CVE_table">
  <div class="button-row d-flex justify-content-end mb-3">
    <button class="btn btn-primary btn-sm mr-3" onclick="location.href='{% url 'domains_insert' %}'">New Domain</button>
    <div class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="scanDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scans
      </button>
      <div class="dropdown-content" aria-labelledby="scanDropdown">
          <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'domains_urlscan' %}'">Run URLScan</button>

        <form class="dropdown-item" method="post" action="{% url 'nmap_domain_scan' %}">
          {% csrf_token %}
          <input type="hidden" name="domains" value="{% for okdomain in okdomains %}{{ okdomain.domain }}{% if not forloop.last %},{% endif %}{% endfor %}">
          <button type="submit" class="btn btn-primary btn-sm">Run NMAP Scan</button>
        </form>

        <form class="dropdown-item" method="post" action="{% url 'ip_geolocation_lookup' %}">
          {% csrf_token %}
          <input type="hidden" name="ip_addresses" value="{% for okdomain in okdomains %}{{ okdomain.urlscan.page.ip }}{% if not forloop.last %},{% endif %}{% endfor %}">
          <button type="submit" class="btn btn-primary btn-sm">Run IP Geolocation Lookup</button>
        </form>
        <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'domains_ip_check' %}'">IP pingcheck</button>



      </div>
    </div>
  </div>

    <button onclick="ExportToExcel('xlsx')">Eksporter data</button>
    <div class="table-responsive">
        <table id="tbl_exporttable_to_xls" class="table table-striped mt32 exposed-servers sortable">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Full url</th>
                    <th>HTTP code</th>
                    <th>Server</th>
                    <th>IP</th>
                    <th>Screenshot</th>
                    <th>TLS issuer</th>
                    <th>URLScan time</th>
                    <th>NMAP Data</th>
                    <!--<th>System Owner</th>-->
                    <!--<th>Vulnerabilities</th>-->
                    <th>Country & ISP</th>
                    <th>Comments</th>
                </tr>
            </thead>
           <tbody>
            {% for okdomain in okdomains %}

            {% if okdomain.http_redirect != "oslo.kommune.no" %}
            <tr>
                <td><a href="https://www.{{ okdomain.domain }}" target="_blank">{{ okdomain.domain }}</a></td>
                <td><a href="{{ okdomain.http_redirect }}" target="_blank">URL</a></td>
                <td>{{ okdomain.http_code }}</td>
                <td>{{ okdomain.server }}</td>
                <td>{{ okdomain.ip }}</td> 

                <td>
                    <a href="#" class="image-overlay-trigger" data-image-url="{{ okdomain.urlscan.screenshot }}">
                        <img src="{{ okdomain.urlscan.screenshot }}" alt="Screenshot" class="rounded-image" width="200">
                    </a>
                </td>
                <td>{{ okdomain.urlscan.page.tlsIssuer }}</td>
                <!--<td>{{ okdomain.system_owner }}</td>-->
                <!--<td>{{ okdomain.vulnerabilities }}</td>-->
                <td>{{ okdomain.urlscan.task.time }}</td>
                <td>
                    {{ okdomain.nmap|join:", " }}
                </td>
                <td><b>{{ okdomain.ip_data.country_name }}</b>, {{ okdomain.ip_data.isp }} </td>
                <td>
                    <form class="update-comments-form" method="post" action="{% url 'update_comments' okdomain.pk %}">
                        {% csrf_token %}
                        <textarea name="comments" rows="3" cols="40">{{ okdomain.comments }}</textarea>
                        <button type="submit">Update Comments</button>
                    </form>
                </td>

            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<!-- CSS for the button row -->
<style>
    .button-row {
        text-align: right;
        margin: 10px;
    }

    .button-row button {
        margin-left: 10px;
    }
</style>

<!-- JavaScript to handle the overlay -->
<script>
        function changeRowLimit(value) {
        var rows = document.getElementById("tbl_exporttable_to_xls").rows;
        var rowCount = rows.length - 1; // Subtract 1 for the table header row

        if (value === "all") {
            for (var i = 0; i < rowCount; i++) {
                rows[i + 1].style.display = ""; // Add 1 to the index to skip the table header row
            }
        } else {
            var limit = parseInt(value);

            for (var i = 0; i < rowCount; i++) {
                if (i < limit) {
                    rows[i + 1].style.display = ""; // Add 1 to the index to skip the table header row
                } else {
                    rows[i + 1].style.display = "none"; // Add 1 to the index to skip the table header row
                }
            }
        }
    }
    function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('tbl_exporttable_to_xls');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
         XLSX.writeFile(wb, fn || ('qualys_vulnerabilities.' + (type || 'xlsx')));
    }
    (function(document) {
        'use strict';

        var TableFilter = (function(myArray) {
            var search_input;

            function _onInputSearch(e) {
                search_input = e.target;
                var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                myArray.forEach.call(tables, function(table) {
                    myArray.forEach.call(table.tBodies, function(tbody) {
                        myArray.forEach.call(tbody.rows, function(row) {
                            var text_content = row.textContent.toLowerCase();
                            var search_val = search_input.value.toLowerCase();
                            row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                        });
                    });
                });
            }

            return {
                init: function() {
                    var inputs = document.getElementsByClassName('search-input');
                    myArray.forEach.call(inputs, function(input) {
                        input.oninput = _onInputSearch;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                TableFilter.init();
            }
        });

    })(document);

    // Wait for the document to be ready
    document.addEventListener("DOMContentLoaded", function() {
        // Get all the image overlay triggers
        const imageOverlayTriggers = document.querySelectorAll(".image-overlay-trigger");

        // Add click event listeners to each trigger
        imageOverlayTriggers.forEach(trigger => {
            trigger.addEventListener("click", function(event) {
                event.preventDefault();

                // Get the image URL from the trigger's data attribute
                const imageUrl = this.dataset.imageUrl;

                // Create the overlay element
                const overlay = document.createElement("div");
                overlay.className = "image-overlay";

                // Create the image element
                const image = document.createElement("img");
                image.src = imageUrl;
                image.className = "rounded-image"; // Apply rounded corners to the overlay image

                // Add the image to the overlay
                overlay.appendChild(image);

                // Add the overlay to the document body
                document.body.appendChild(overlay);

                // Add a click event listener to the overlay to remove it when clicked
                overlay.addEventListener("click", function() {
                    document.body.removeChild(overlay);
                });
            });
        });
    });
</script>

{% endblock %}